.header {
	position: relative;
	display: flex;
	align-items: baseline;
	justify-content: center;
	z-index: var(--z-section-header);
	transition: width 0.3s ease-in-out;
	width: 100%;

	h2 {
		@include mq($until: tablet) {
			max-width: 150px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		line-height: 1;
	}

	@include mq($from: tablet) {
		a,
		span {
			color: var(--green);
		}
	}

	&.full {
		padding-right: 0;

		@include mq($until: tablet) {
			width: 100%;
		}
	}

	margin-top: 2.5rem;

	@include mq($until: tablet) {
		margin-top: -1.5em;
	}

	@include mq($from: tablet) {
		width: 100%;
	}

	&.home {
		margin-top: 0;

		&.home {
			svg,
			g,
			path {
				@include mq($from: tablet) {
					fill: var(--white);
				}
			}
		}
	}

	a {
		//width: 100%;

		h2 {
			line-height: 1;
			text-align: center;
			padding: 0;
			margin: 0;
			width: 100%;

			> span {
				span {
					animation-name: show;
					animation-duration: 0.2s;
					animation-timing-function: steps(1, end);
					animation-fill-mode: forwards;
					opacity: 0.5;

					@keyframes show {
						to {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.logo {
	position: fixed;
	margin: var(--outer-margin);
	left: 0;
	top: 0;
	z-index: var(--z-menu);

	img {
		width: 200px;

		@include mq($until: tablet) {
			margin-top: 7px;
			width: 130px;
		}
	}

	&.home {
		img {
			filter: invert(1);
		}
	}
}

.line {
	display: none;
	margin-bottom: var(--space);
	width: 100%;

	@include mq($until: tablet) {
		margin-left: var(--outer-margin);
		margin-right: var(--outer-margin);
		width: var(--body-width);
		display: block;
	}
}

.spacer {
	position: relative;
	height: 0;

	@include mq($from: tablet) {
		height: var(--space);
	}
}
