.container {
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		input {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}

.loader {
	margin-top: var(--space);
}
