.search {
	list-style: none;
	margin-left: var(--outer-margin);
	margin-right: var(--outer-margin);

	a {
		color: var(--green);
	}
	h2 {
		text-align: center;
	}

	h3 {
		font-weight: normal;
		text-transform: uppercase;
	}

	list-style: none;
	padding-left: 0;

	li {
		margin-top: var(--space);

		.intro {
			p {
				padding: 0;

				strong {
					font-weight: bold !important;
				}
			}
		}

		button {
			white-space: nowrap;
			margin-top: var(--small-space);
			margin-left: calc(var(--grid-unit) * 2);
			margin-right: calc(var(--grid-unit) * 2);
			width: calc(100% - (var(--grid-unit) * 4));
		}
	}
	.nohits {
		margin-top: calc(var(--space) * 1);
	}
}
