.filter {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: -0.5 rem;
	margin-bottom: var(--space);

	@include mq($until: desktop) {
		overflow: hidden;
	}

	> ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		margin: 0;

		@include mq($until: tablet) {
			flex-direction: column;
			scrollbar-width: 0px;
			overflow-x: scroll;
			line-height: 2rem;

			&::-webkit-scrollbar {
				height: 0px;
			}

			&::-webkit-scrollbar-thumb,
			&::-webkit-scrollbar-track {
				background: transparent;
			}

			margin-right: calc(-1 * var(--outer-margin));
		}

		a {
			max-width: 90vw;

			text-align: center;
			&.selected {
				font-weight: bold;
			}
			@include mq($from: tablet) {
				width: auto;
				overflow: visible;
			}
		}
		li {
			position: relative;
			padding-right: 0;
			cursor: pointer;
			transform: translateX(0.4em);

			@include mq($from: tablet) {
				padding-right: 0.4em;
			}
			.arrow {
				display: inline;
				transform: rotate(90deg);
				margin-left: 0.4em;
				@include mq($from: tablet) {
					display: none;
				}
			}
		}
	}

	@include mq($until: tablet) {
		overflow: visible;

		> ul {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100vw;
			flex-direction: column;
			align-items: center;
			background-color: var(--white);
			padding-bottom: 1.5em;

			li {
				display: inline-flex;
				align-self: center;
				padding-right: 0;
			}
		}

		&.open {
			.arrow {
				display: inline-block;
			}

			> ul {
				li:not(.selected) {
					display: none;
				}
			}
		}
	}

	.description {
		font-family: var(--body-font);
		font-size: 1rem;
		padding-top: 1em;
		line-height: var(--line-height);
	}

	&.multi-row {
		li {
			padding-bottom: 1em;
		}
	}
}
