.thumbnail {
	position: relative;
	display: block;
	//width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		.image {
			background-color: var(--blue) !important;
		}
	}

	h3 {
		display: flex;
		align-items: flex-end;
		width: 100%;
		padding-top: 0.6em;
		padding-bottom: 0.3em;
		text-align: left;

		span {
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		&.rows-1 {
			//height: 3rem;

			span {
				-webkit-line-clamp: 1;
			}
		}

		&.rows-2 {
			//height: 4rem;

			span {
				-webkit-line-clamp: 2;
			}
		}

		&.rows-3 {
			height: 4rem;

			span {
				-webkit-line-clamp: 3;
			}
		}
	}

	p {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;

		strong {
			padding-right: 1em;
		}
	}

	.imageWrap {
		position: relative;

		img {
			overflow: hidden;
			aspect-ratio: 5 / 4;
			transition: transform 0.2s ease-in-out;
			border-radius: 1rem;
		}

		.placeholder {
			position: absolute;
			top: 0 !important;
			left: 0 !important;
			width: 100% !important;
			height: 100% !important;
			border-radius: 1rem;
		}
	}
}
