@font-face {
	font-family: 'Gravostyle';
	src: url('/fonts/Gravostyle-Basic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gravostyle-Bold';
	src: url('/fonts/Gravostyle-Basic-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gravostyle-Black';
	src: url('/fonts/Gravostyle-Basic-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
