@use 'mediaqueries' as *;

html,
body {
	font-size: 15px;
	font-weight: normal;
	@include mq($from: tablet) {
		font-size: 20px;
	}

	@include mq($from: wide) {
		font-size: 24px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--green);
	font-family: var(--headline-font);
	letter-spacing: -0.01em;
	word-spacing: -0.15em;
	strong {
		//font-weight: normal;
	}
}

h1 {
	font-size: 1.7rem;
	font-weight: bold;
	padding-bottom: var(--space);
	line-height: 1.25;
	text-align: center;
	@include mq($until: tablet) {
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
	}
}

h2 {
	font-size: 0.95rem;
	@include mq($from: tablet) {
		font-size: 0.75rem;
	}
	font-family: var(--headline-font);
}

h3 {
	font-size: 1.3rem;
	text-align: center;
	padding-bottom: 1em;
	line-height: 1.2;
}

p {
	font-weight: 450;
	line-height: var(--line-height);
	letter-spacing: -0.01em;
	color: var(--green);
}

p.intro,
.intro p,
.intro {
	font-family: var(--headline-font);
	font-size: 1.2rem;
	padding-bottom: 0;
	line-height: var(--line-height);
	font-weight: 600;
}

.thumb-intro,
.small-body {
	font-size: 0.85rem;
	@include mq($from: tablet) {
		font-size: 0.85rem;
	}

	strong {
		font-family: var(--headline-font);
		font-weight: bold !important;
		font-size: 0.75rem;
		display: inline-block;

		@include mq($from: tablet) {
			font-size: 0.65rem;
		}
		padding-right: 0.5em;
	}

	> p {
		padding: 0;
	}
}

.small,
.small p,
footer,
footer nav,
figcaption,
.caption label {
	font-family: var(--headline-font);
	font-size: 0.85rem;
	font-weight: bold;
	text-align: center;
	@include mq($from: wide) {
		font-size: 0.7rem;
	}
}

nav,
.mid,
button,
.mid input,
.mid select {
	font-size: 0.95rem;
	font-family: var(--headline-font);
	@include mq($from: tablet) {
		font-size: 1rem;
	}
}

nav {
	font-family: var(--body-font);
}

strong,
b {
	font-weight: bold;
}

// För Article
article {
	.structured ul {
		list-style: none;
		padding-left: 1em;

		li {
			//padding-left: 1em;
			&:before {
				position: absolute;
				content: '•';
				margin-top: 0.3em;
				color: var(--green);
			}
		}

		p:last-of-type {
			margin-bottom: 0.7em;
		}

		& li:last-child p {
			margin-bottom: 1em;
		}
	}

	p,
	.intro,
	h2,
	.structured h3 {
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		text-align: left;
		@include mq($from: tablet) {
			padding-left: calc(2 * var(--grid-unit));
			padding-right: calc(2 * var(--grid-unit));
		}
	}

	ul {
		margin-left: var(--outer-margin);
		margin-right: var(--outer-margin);
		text-align: left;
		@include mq($from: tablet) {
			margin-left: calc(2 * var(--grid-unit));
			margin-right: calc(2 * var(--grid-unit));
		}
		p {
			padding-left: 1em;
		}
	}

	p + h3,
	ul + h3,
	ul + h2,
	p + h2 {
		padding-top: 1rem;
	}

	p strong,
	p b {
		font-weight: normal !important;
		font-family: var(--headline-font-medium);
	}

	p.center {
		text-align: center;
	}
}

button {
	font-family: var(--headline-font);
}

em,
i {
	font-style: italic;
}
